<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/secured/home/">Balaji Transports</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/secured/home/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logged/details/">Overall Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logged/workers/">Workers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logged/users/">Users</a>
                </li>
            </ul>
            <div class="search">
                <form method="post">
                    <input type="text" name="search" placeholder="Search.." />
                    <input type="submit" value="Search" />
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <br>
        <h1>
            <%= date %>
        </h1><br>
        <br><br>
        <% if(details) { %>
            <table class="table table-hover">
                <thead>
                    <th> Vehicle/Work </th>
                    <th> Work Details </th>
                    <th> Mechanic Name </th>
                </thead>
                <tbody>
                    <% for(var key in info) { %>
                        <tr class="clickable-rows" data-href="/secured/home/<%= date %>/<%= key %>/">
                            <td>
                                <%= key %>
                            </td>
                            <td>
                                <% if(info[key].Morning != null) { %>
                                    <%= info[key].Morning.description %>
                                        <% } else if(info[key].Afternoon != null) { %>
                                            <%= info[key].Afternoon.description %>
                                                <% } else if(info[key].Evening != null) { %>
                                                    <%= info[key].Evening.description %>
                                                        <% } %>
                            </td>
                            <td>
                                <% if(info[key].Morning != null) { %>
                                    <%= info[key].Morning.mechanicName %>
                                        <% } else if(info[key].Afternoon != null) { %>
                                            <%= info[key].Afternoon.mechanicName %>
                                                <% } else if(info[key].Evening != null) { %>
                                                    <%= info[key].Evening.mechanicName %>
                                                        <% } %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
            <% } %>
                <% if(empty) { %>
                    <h1> No Details for today found.</h1>
                    <% } %>
    </div>
    <br><br>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $(".clickable-rows").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
</body>

</html>