<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Balaji Transports</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/secured/home/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logged/details/">Overall Details</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/logged/workers/">Workers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logged/users/">Users</a>
                </li>
            </ul>
            <div class="search">
                <form method="post">
                    <input type="text" name="search" placeholder="Search.." />
                    <input type="submit" value="Search" />
                </form>
            </div>
        </div>

    </nav>
    <br>
    <div class="container">
        <br><br>
        <% if(add) { %>
            <br><br>
            <h4>Create an excel file in this format and upload below</h4>
            <br>
            <table class="table table-hover">
                <thead>
                    <th> Department </th>
                    <th> Employee Name </th>
                    <th> Contact No </th>
                </thead>
                <tbody>
                        <tr class="clickable-rows">
                            <td>
                                Text format
                            </td>
                            <td>
                                Text format
                            </td>
                            <td>
                                Number format
                            </td>
                        </tr>
                </tbody>
            </table>
            <br><br>
            <hr>
            <form method="post" action="/secured/addworkers/" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputPassword1">Choose an Excel file to upload</label>
                    <input type="file" class="form-control" id="exampleInputPassword1" name="excel" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Upload" />
                </div>
            </form>
            <% } %>
                <br><br>
                <% if(empty){ %>
                    <button class="btn btn-primary float-right">Add Workers</button>
                    <h1> No mechanics found.</h1>
                    <% } %>
                        <% if(show) { %>
                            <button class="btn btn-primary float-right">Add Workers</button>
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">Workers</h3><br>
                                    <table class="table table-hover">
                                        <thead>
                                            <th> Department </th>
                                            <th> Employee Name </th>
                                            <th> Employee contact No </th>
                                            <th> Action </th>
                                        </thead>
                                        <tbody>
                                            <% for(var key in info){ 
                                                for(var k in info[key]) { %>
                                                <tr class="clickable-rows">
                                                    <td>
                                                        <%= info[key][k].department %>
                                                    </td>
                                                    <td>
                                                        <%= info[key][k].name %>
                                                    </td>
                                                    <td>
                                                        <%= info[key][k].contact %>
                                                    </td>
                                                    <td>
                                                        <a href="/logged/deletew/<%= key %>" class="btn btn-danger">Delete</a>
                                                    </td>
                                                </tr>
                                                <% } %>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div><br>
                            <% } %>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script>
         jQuery(document).ready(function() {
            $("button").click(function(){
                window.location = '/secured/addworkers/';
            });
        });
    </script>
</body>

</html>